nav.navbar.navbar-inverse.navbar-fixed-top

    div.navbar-header
      button(
        type="button",
        class="navbar-toggle menu-toggle",
        data-toggle="offcanvas",
        data-target="#side-menu"
        data-canvas="body")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div.navbar-right-top       
        input(type="checkbox", name="power-toggle", class="power-toggle")
      //- a(class="navbar-brand") Title